@import url('https://fonts.googleapis.com/css?family=Raleway:400,500');
body {
color: #333;
font-family: 'Raleway', sans-serif;
font-weight: 400;
display: flex;
justify-content: center;
align-items: center;
}

#quote{
border-radius: 40px;
height: 45px;
}

#search{
font-size: 20px;
}

#btnsearch{
height: 40px;
border-radius: 15px;
background-color: white;
border: none;
}

#h1{
color: white;
text-align: center;
padding-bottom: 30px;
font-size: 70px;

}

#quote-box .quote-text {
text-align: center;
clear: both;
font-weight: 500;
font-size: 1.75em;
}
#quote-box .quote-text i {
font-size: 1em;
margin-right: 0.4em;
}
#quote-box .quote-author {
clear: both;
padding-top: 20px;
font-size: 1em;
text-align: right;
}


#quote-box .buttons .button:hover {
opacity: 0.9;
} 


.search{
padding-bottom: 40px;
justify-content: center;
}

.footer {
text-align: center;
display: block;
margin: 15px auto 30px auto;
font-size: 0.8em;
color: white;
}

#h1{
  color: white;
}

.bi-quote{
  font-size: 40px;
}

img{
  width:100%;
}

#cookie-banner {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 30px;
  padding: 20px;
  border: 1px solid black;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  color: black;
}